
*{
    box-sizing: border-box; 
    margin:0px;
    padding: 0px;
 }

     .caja{
        border: 2px solid black;
        width: 200px;
    }

     .divRojo{
         border: 2px dashed red;
         padding:5px;
         width: 200px;
         margin: 10px;
     }

     .divVerde{
         border:2px dashed green;
         padding:25px;
         width:200px;
         
     }
     
     .divVerde.caja.resaltada{
        border: 5px dashed blue 
     }

     .divVerde.caja .resaltada{
        border: 5px solid rgb(60, 255, 0);
     }