/*Se suele llamar styles.css main.css o (nombre de proyecto).css*/

/*-------------------------------------------------------------------------------------------
*                       Reset de CSS
*-------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------
*                       Componentes generales
*-------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------
*                       Sección Home
*-------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------
*                       Sección Contacto
*-------------------------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------------------------
*                       Sección Galería
*-------------------------------------------------------------------------------------------*/

.userCard{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.galeria-container {
    display: flex;
    
    gap: 8px;
    flex-wrap: wrap;
}



@media screen and (max-width: 500px){
    .userCard{
        width: 100%;
    }
}