*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display:flex;
}
.header{
    display:flex;

}
.main-content{
    display: flex;
    height: 100vh; 
}

.sidebar{
  width: 500px;
  background-color: aquamarine;
  flex-direction: column;

}

.content-1{

}

.content-2 .content-3{


}

.footer{
    display: flex;
}